#no{
    padding-top: 40px;
    padding-left: 50px;
}
#yes{
    padding-left: 50px;
}
#cr
{
    float: right;
    height: 300px;
    width: 300px;
    padding-top: 15px;
    
}
#no1{
    padding-left: 50px;
}
#lm
{
     background-color:white;
    
     height: 350px;
}
#ney
{
    float: left;
    height: 300px;
    width: 300px;
    padding-top: 15px;
    
}
#text
{
    float: right;
    padding-right: 1000px;
    padding-top: 50px;
}
    
#text1
{
    float:right;
    padding-right: 920px;
}
#text2
{
    float:right;
    padding-right: 820px;
}
#text3
{
    
    padding-left: 620px;
    padding-top: 200px;
}
#lm2
{
    background-color: rgb(135, 160, 138);
    
     height: 350px;
}
#text4
{
     padding-left: 670px;
    padding-top: 10px;
}
#pic
{
    padding-left: 100px;
    padding-top: 100px;
}
*{
    box-sizing: border-box;
}
.clm
{
    float: left;
    width: 33.33%;
    padding: 50px;
}
#lm3
{
    background-color: white;
    
     height: 550px;
}
.clm1
{
    float: left;
    width: 33.33px;
    padding:100px;
    padding-top: 10px;
    padding-left: 40px;
    mix-blend-mode: multiply;

}
#lm4
{
    background-color: rgb(135, 160, 138);
     height: 600px;
}
#yes1
{
    padding-top: 600px;
    padding-left: 20px;
}